.footer {
  padding: 0.75rem 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;

  @media screen and (max-width: 480px) {
    padding: 0.75rem 1rem;
  }

  a {
    font-family: ll_pixel;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }
  }
}
