.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 1.5rem;

  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

.card_container {
  width: 100%;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);

  @supports (-webkit-touch-callout: inherit) {
    //border-top: #d62c35 solid 20px;

    background: rgba(255, 255, 255, 0)
      linear-gradient(
        to bottom,
        rgba(110, 93, 6, 0) 0%,
        rgb(43, 12, 42) 3.5%,
        rgb(17, 12, 43) 20%
      )
      repeat scroll 0 0;

    background-blend-mode: difference;

    @media screen and (min-width: 600px) {
      /* background: linear-gradient(to top, #00000000 0%, #87517f00 5%, #513b4a 100%),
        linear-gradient(-45deg, #d62c35, transparent),
        linear-gradient(45deg, #513b4a, transparent); */
      /*         linear-gradient(
          to bottom,
          rgba(110, 93, 6, 0) 0%,
          #401d2a 6.5%,
          rgb(17, 12, 43) 20%
        )
        repeat scroll 0 0; */

      background: rgb(17, 12, 43);
      border-top: #41002a91 solid 5px;
    }
  }
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-size: 2.2rem;

  span {
    font-family: ll_pixel;
    font-weight: 300;
    font-size: 2.5rem;
  }
}

.card_container_grid {
  width: 100%;
  max-width: 1600px;
  /*   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(23.3rem, calc((100% - 6rem) / 3)), 1fr));
  grid-gap: 2rem;
  align-content: start; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  /*   @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, 100%);
  } */
}
